/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-full-width {
  padding: 0 5px;
}

.record-table .mat-form-field-appearance-outline {
  line-height: 1;
  font-weight: normal;
}

.record-table .mat-form-field-appearance-outline .mat-form-field-flex {
  margin-top: 0!important;
  padding: 0 0.5em;
}

.record-table .mat-form-field-appearance-outline .mat-form-field-infix {
  border-top: 0;
  padding: .4em 0;
}

.record-table .mat-form-field-appearance-outline .mat-form-field-infix .mat-input-element{
  margin-top: 0
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0!important;
}

.record-table .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0;
}

.record-table .mat-form-field-appearance-outline input{
  vertical-align: middle;
  color: black;
}

.record-table {
  border-collapse: separate;
  border-spacing: 5px;
  font-size: 12px;
}

.record-table .mat-radio-outer-circle {
  width: 14px;
  height: 14px;
}

.record-table .mat-radio-inner-circle {
  width: 14px;
  height: 14px;
}

.record-table .mat-radio-button .mat-radio-ripple {
  left: calc(50% - 14px);
  top: calc(50% - 14px);
  height: 28px;
  width: 28px;
}

.record-table .mat-radio-container {
  height: 14px;
  width: 14px;
}

.record-table .mat-form-field .mat-form-field-prefix, .record-table .mat-form-field .mat-form-field-suffix {
  padding: .4em 0;
}

.record-table .mat-form-field .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .record-table .mat-form-field .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1em!important;
  height: 1em!important;
}

.record-table .mat-form-field .mat-form-field-prefix .mat-icon-button, .record-table .mat-form-field .mat-form-field-suffix .mat-icon-button {
  width: 1em!important;
  height: 1em!important;
}

.record-table .mat-form-field .mat-form-field-infix {
  width: auto;
  vertical-align: middle;
}
